		* {
				margin: 0;
				padding: 0;
			}
			a img{border:0;}
			ul,
			ol {
				list-style: none;
			}
			h2{
				font-family: arial;
			}
			a {
				text-decoration: none;
				color: black;
			}
			
			.wrap {
				/*position: relative;*/
				min-width: 400px;
			}
			
			
			.content {
				min-width: 1088px;
				max-width: 1161px;
				margin: 0 auto;
				background-color: #fefefe;
			}
			
			.building_top {
				width: 100%;
				position: relative;
				overflow: hidden;
				/*border-bottom: 2px solid #e1e1e1;*/
			}
			
			.building_top li {
				float: left;
			}
			
			.building_top_img1 img {
				vertical-align: bottom;
			}
			
			.building_top_img2 {
				position: absolute;
				left: 0;
				top: 0;
				display: none;		
			}
			
			.building_top_text {
				float: left;
				width: 313px;
				display: inline-block;
				vertical-align: top;
				margin-top: 30px;
				margin-left: 15px;
			}
			
			.building_top_text P {
				font-size: 14px;
				margin-top: 20px;
				font-family: "微软雅黑";
			}
			
			.building_center {
				border-top: 2px solid #e1e1e1;
				width: 100%;
				position: relative;
				overflow: hidden;
			}
			
			.building_center_text {
				float: right;
				width: 313px;
				display: inline-block;
				vertical-align: top;
				text-align: right;
				margin-top: 30px;
				margin-right: 15px;
			
			}
			.building_center_text a{
					font-size: medium;
			}
			.building_center_text p {
				font-size: 14px;
				margin-top: 20px;
				font-family: "微软雅黑";
			}
			
			.building_center li {
				float: right;
				font-size: 0;
			}
			
			.building_center_img1 img {
				vertical-align: bottom;
			}
			
			.building_center_img2 {
				display: none;
				position: absolute;
				right: 0;
				top: 0;
			}
			
			.borderStyle {
				border-top: 2px solid #e1e1e1;
				border-bottom: 2px solid #e1e1e1;
			}
		
			.linkShow{
				display: none;
				position: absolute;
				left: 0;
				top: 0;
			}
			.copyright{
				color: #808080;
				margin: 38px;
				font-size: 10px;
			}
			
			
			.change{
					width: 100%;
					text-align: center;
					margin: 20px 0;
			}
			.nowWidth{
				width: 100%;
			}
			
			
