
a { text-decoration: none; }

a img{
	border: none;
}
*{
	margin: 0;
	padding: 0;
}

.header {
				position: relative;
				width: 100%;
				height: 69px;
				/*min-width: 1088px;*/
				max-width: 1140px;
				margin: 0 auto;
			}
			.header_wrap{
				width: 100%;
				background-color: black;
			}
			.logo {
				/*float: left;*/
				width: 11.0541%;
				height: 3.7800%;
				/*margin-left: 8.85%;*/
				padding-top: 18px;
			}
			/*.logo img{
				width: 100%;
			}*/
			
			.nav {
				float: right;
			}
			#menu{
				float: right;
				margin-right: 20px;
				display: none;
			}
			#menu img{
				width: 80%;
			}
			.nav_text {
				margin-left: 20px;
				display: inline-block;
				color: #a8a8a8;
				border: 1px solid transparent;
				border-radius: 5px;
				padding: 5px 10px;
			}
			
			
			.active{
				color: white;
				border: 1px solid white;
			}
			.nav_hidden{
				position: absolute;
				top: 69px;
				right: 0;
				z-index: 10;
				display: none;
			}
			.nav_hidden a{
				text-align: center;
				background-color: #dadf00;
				
				display: block;
			}
			.footer{
				text-align: center;
				width: 100%;
				margin-top: 82px;
			}
			.email a{
				position: relative;
				display:inline-block;
			}
			.email a img{
				width: 35px;
				
			}
			.friendlink{
				margin-top:19px;
			}
			.friendlink a{
				position: relative;
				display: inline-block;
				width: 25px;
				height: 25px;
				margin: 0 7px;
			}
			.friendlink a img{
				width: 25px;
				
			}
			.linkShow{
				display: none;
				position: absolute;
				left: 0;
				top: 0;
			}
			.copyright{
				color: #808080;
				margin: 38px;
				font-size: 10px;
			}
			/*IE8不兼容媒体查询,要写在JS里*/
		/*@media only screen and (max-width: 850px) {
				#menu{
					display:block ;
					}
				#menu img{
					width: 80%;
				}
				.nav{
					display: none;
				}
				
				
			}*/