* {
	margin: 0;
	padding: 0;
}

#banner {
	width: 100%;
	/*overflow: hidden;*/
	/*position: relative;*/
}
#banner .swiper-slide{
	width: 100%;
	/*overflow: hidden;*/
	/*position: relative;*/
	position: absolute;
	left: 0;
}
#banner img {
	width: 100%;

	/*display: none;*/
	/*left: 0;*/
	/*opacity: 0;*/
}

.banner_wrap {
	position: relative;
}

#round {
	/*width: 999px;*/
	position: absolute;
	left: 50%;
	bottom: 2%;
	margin-left: -33px;
	z-index: 10;
}

#round span {
	background-color: #8495a0;
	float: left;
	height: 12px;
	width: 12px;
	border-radius: 12px;
	margin-right: 10px;
}

#round .round_yellow {
	background-color: #cfdb00;
}
.swiper-container .swiper-pagination-bullet-active{
	background-color: #cfdb00;
}

.swiper-pagination-bullet{
	background-color: #8495a0;
	/*background-color: #cfdb00;*/
}
#example {
	/*margin: 0 auto;*/
	margin: 10px 0;
	margin-left:5px ;
	position: relative;
	list-style: none;
	padding: 10px;
}

#example li {
	position: absolute;
	
	/*width: 200px;*/
	/*height: 50px;*/
	
}

#example img{
	width: 100%;
}
#example li div{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	line-height: 100%;
	overflow: hidden;
	display: none;
	/*cursor: pointer;*/
}
#example a{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
#example div img{
	width: 10%;
	margin: auto;  
  position: absolute;  
  top: 0; left: 0; bottom: 0; right: 0;  
	
}
#mask{
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	z-index: 10;
}
#mask div{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#mask img{
	
	width: 10%;
	margin: auto;  
  position: absolute;  
  top: 0; left: 0; bottom: 0; right: 0;  
  border: 5px solid white;
}






